<h2>会員情報編集</h2>


<%= form_with model: @customer, url: public_customers_information_path, method: :patch do |f| %>

 <label for="inputName">氏名</label>
  <%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"姓"%>

  <%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"名"%></br>

 <label for="inputName">フリガナ</label>
  <%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"姓カナ"%>

  <%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"名カナ"%></br>
 <label for="inputName">郵便番号</label>
 　<%= f.text_field :postal_code, autofocus: true, id:"inputName", placeholder:"郵便番号"%></br>

 <label for="inputName">住所</label>
 　<%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"住所"%></br>
 <label for="inputName">電話番号</label>
 　<%= f.text_field :telephone_number, autofocus: true, id:"inputName", placeholder:"電話番号"%></br>
 <label for="inputName">メールアドレス</label>
  <%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"メールアドレス"%></br>

  <%= f.submit '編集内容を保存', class:"btn btn-success" %>
<% end %>

<p><%= link_to "退会する", public_customers_confirm_path, class:"btn btn-danger" %></p>