<h2>商品一覧</h2>

<table>
  <% @items.each do |item| %>
  <tr>
    <td>
      <%= link_to public_item_path(item.id) do %>
        <%= image_tag item.image %>
      <% end %>
    </td>

    <td>
        <%= item.name %>
    </td>
    <td>
      ￥<%= item.price %>
    </td>
  </tr>
  <% end %>
</table>

<%= paginate @items %>